<?xml version="1.0" encoding="utf-8"?>
<Root>
  <ActionCodeSettings>
    <Code key="Search" value="1"  />
    <!--查詢-->
  </ActionCodeSettings>
  <Pages>
    <Page url="~/Page/P010102010001.aspx" name="卡片資料異動-註銷資料" functionid="01020100" by="Search">
    </Page>
    <Page url="~/Page/P010102020001.aspx" name="卡片資料異動-狀況碼資料" functionid="01020200" by="Search">
    </Page>
    <Page url="~/Page/P010102030001.aspx" name="卡片資料異動-繳款異動" functionid="01020300" by="Search">
    </Page>
    <Page url="~/Page/P010102040001.aspx" name="卡片資料異動-繳款評等" functionid="01020400" by="Search">
    </Page>
    <Page url="~/Page/P010102050001.aspx" name="卡片資料異動-優惠碼" functionid="01020500" by="Search">
    </Page>
    <Page url="~/Page/P010102060001.aspx" name="卡片資料異動 毀補一KEY" functionid="01020600" by="Search">
    </Page>
    <Page url="~/Page/P010102070001.aspx" name="卡片資料異動 毀補二KEY" functionid="01020700" by="Search">
    </Page>
    <Page url="~/Page/P010102080001.aspx" name="卡片資料異動 BLK一KEY 新增/異動(Change/Add)" functionid="01020800" by="Search">
    </Page>
    <Page url="~/Page/P010102090001.aspx" name="卡片資料異動 BLK二KE 新增/異動(Change/Add)Y" functionid="01020900" by="Search">
    </Page>
    <Page url="~/Page/P010102100001.aspx" name="卡片資料異動 BLK一KEY 解除管制(Delete)" functionid="01021000" by="Search">
    </Page>
    <Page url="~/Page/P010102110001.aspx" name="卡片資料異動 BLK二KEY 解除管制(Delete)" functionid="01021100" by="Search">
    </Page>
    <Page url="~/Page/P010102120001.aspx" name="卡片資料異動 掛補一KEY" functionid="01021200" by="Search">
    </Page>
    <Page url="~/Page/P010102130001.aspx" name="卡片資料異動 掛補二KEY" functionid="01021300" by="Search">
    </Page>
    <Page url="~/Page/P010103010001.aspx" name="特店資料異動 一次鍵檔" functionid="01030100" by="Search">
    </Page>
    <Page url="~/Page/P010103020001.aspx" name="特店資料異動 二次鍵檔" functionid="01030200" by="Search">
    </Page>
    <!--20190919 add by Peggy-->
    <Page url="~/Page/P010103030001.aspx" name="特店資料異動(依統編)查詢" functionid="01030300" by="Search">
    </Page>
    <Page url="~/Page/P010103040001.aspx" name="特店資料異動(依統編)放行" functionid="01030400" by="Search">
    </Page>
    <Page url="~/Page/P010101010001.aspx" name="卡人資料異動 地址" functionid="01010100" by="Search">
    </Page>
    <Page url="~/Page/P010101020001.aspx" name="卡人資料異動 其他" functionid="01010200" by="Search">
    </Page>
    <Page url="~/Page/P010101040001.aspx" name="卡人資料異動 姓名" functionid="01010400" by="Search">
    </Page>
    <Page url="~/Page/P010101070001.aspx" name="中信及郵局 一Key" functionid="01010700" by="Search">
    </Page>
    <Page url="~/Page/P010101080001.aspx" name="中信及郵局 二Key" functionid="01010800" by="Search">
    </Page>
    <Page url="~/Page/P010101090001.aspx" name="訊息/更正單自扣 一Key" functionid="01010900" by="Search">
    </Page>
    <Page url="~/Page/P010101100001.aspx" name="訊息/更正單自扣 二Key" functionid="01011000" by="Search">
    </Page>
    <Page url="~/Page/P010101030001.aspx" name="族群碼" functionid="01010300" by="Search">
    </Page>
    <Page url="~/Page/P010206000001.aspx" name="系統維護-刪除作業" functionid="02060000" by="Search">
    </Page>
    <Page url="~/Page/P010203000001.aspx" name="系統維護-公布欄" functionid="02030000" by="Search">
    </Page>
    <Page url="~/Page/P010204000001.aspx" name="公布欄-查詢" functionid="02040000" by="Search">
    </Page>
    <Page url="~/Page/P010204000002.aspx" name="公布欄-維護" functionid="02040000" by="Search">
    </Page>
    <Page url="~/Page/P010201000001.aspx" name="其他作業-記錄查詢" functionid="02010000" by="Search">
    </Page>
    <Page url="~/Page/P010205000001.aspx" name="系統維護-ACH屬性設定" functionid="02050000" by="Search">
    </Page>
    <Page url="~/Page/P010104010001.aspx" name="6001新增一KEY" functionid="01040100" by="Search">
    </Page>
    <Page url="~/Page/P010104020001.aspx" name="6001新增二KEY" functionid="01040200" by="Search">
    </Page>
    <Page url="~/Page/P010104030001.aspx" name="PCAM新增一KEY" functionid="01040300" by="Search">
    </Page>
    <Page url="~/Page/P010104040001.aspx" name="PCAM新增二KEY" functionid="01040400" by="Search">
    </Page>
    <Page url="~/Page/P010104050001.aspx" name="特店基本資料查核" functionid="01040500" by="Search">
    </Page>
    <Page url="~/Page/P010104060001.aspx" name="6001修改" functionid="01040600" by="Search">
    </Page>
    <Page url="~/Page/P010104070001.aspx" name="PCAM修改" functionid="01040700" by="Search">
    </Page>
    <Page url="~/Page/P010104080001.aspx" name="特店6063費率新增修改" functionid="01040800" by="Search">
    </Page>
    <Page url="~/Page/P010104090001.aspx" name="特店6063費率刪除" functionid="01040900" by="Search">
    </Page>
    <Page url="~/Page/P010207000001.aspx" name="系統維護 銀行代碼對照檔匯入" functionid="02070000" by="Search">
    </Page>
    <Page url="~/Page/P010101050001.aspx" name="他行自扣一Key" functionid="01010500" by="Search">
    </Page>
    <Page url="~/Page/P010101060001.aspx" name="他行自扣二Key" functionid="01010600" by="Search">
    </Page>
    <Page url="~/Page/P010301000001.aspx" name="作業量比對報表" functionid="03010000" by="Search">
    </Page>
    <Page url="~/Page/P010302000001.aspx" name="作業量統計表" functionid="03020000" by="Search">
    </Page>
    <Page url="~/Page/P010303000001.aspx" name="經辦作業量統計" functionid="03030100" by="Search">
    </Page>

    <Page url="~/Page/P010304000001.aspx" name="特店維護經辦作業量統計" functionid="03040000" by="Search">
    </Page>
    <Page url="~/Page/P010305010001.aspx" name="ACH授權扣款資料清單" functionid="03050100" by="Search">
    </Page>
    <Page url="~/Page/P010305020001.aspx" name="R02授權成功/失敗報表" functionid="03050200" by="Search">
    </Page>
    <Page url="~/Page/P010305030001.aspx" name="P02授權未回覆報表" functionid="03050300" by="Search">
    </Page>
    <Page url="~/Page/P010305040001.aspx" name="批次作業量統計報表" functionid="03050400" by="Search">
    </Page>
    <Page url="~/Page/P010104050101.aspx" name="特店認同卡優惠費率維護-新增/修改維護作業" functionid="01040501" by="Search">
    </Page>
    <Page url="~/Page/P010104050201.aspx" name="特約商店認同卡優惠費刪除作業6063" functionid="01040502" by="Search">
    </Page>
    <Page url="~/Page/P010401010001.aspx" name="Redeem點數折抵參數設定 一Key" functionid="04010100" by="Search">
    </Page>
    <Page url="~/Page/P010401020001.aspx" name="Redeem點數折抵參數設定 二Key" functionid="04010200" by="Search">
    </Page>
    <Page url="~/Page/P010208000001.aspx" name="PROGRAM與卡種設定" functionid="02080000" by="Search">
    </Page>
    <Page url="~/Page/P010209000001.aspx" name="卡種明細設定" functionid="02090000" by="Search">
    </Page>
    <Page url="~/Page/P010403010001.aspx" name="Award點數回饋參數設定一Key" functionid="04030100" by="Search">
    </Page>
    <Page url="~/Page/P010403020001.aspx" name="Award點數回饋參數設定二Key" functionid="04030200" by="Search">
    </Page>
    <Page url="~/Page/P010402010001.aspx" name="Redeem點數折抵參數上傳 一Key" functionid="04020100" by="Search">
    </Page>
    <Page url="~/Page/P010402020001.aspx" name="Redeem點數折抵參數上傳 二Key" functionid="04020200" by="Search">
    </Page>
    <Page url="~/Page/P010306000001.aspx" name="參數設定匯總報表" functionid="03060000" by="Search">
    </Page>
    <Page url="~/Page/P010307000001.aspx" name="Redeem交易結果明細表" functionid="03070000" by="Search">
    </Page>
    <Page url="~/Page/P010308000001.aspx" name="Award交易結果明細表" functionid="03080000" by="Search">
    </Page>
    <Page url="~/Page/P010309000001.aspx" name="鍵檔歷程明細表" functionid="03090000" by="Search">
    </Page>
    <Page url="~/Page/P010202000001.aspx" name="參數設定LOG查詢" functionid="02020000" by="Search">
    </Page>
    <Page url="~/Page/P010404010001.aspx" name="Redeem點數折抵參數設定查詢修改 一Key" functionid="04040100" by="Search">
    </Page>
    <Page url="~/Page/P010404020001.aspx" name="Redeem點數折抵參數設定查詢修改 二Key" functionid="04040200" by="Search">
    </Page>
    <Page url="~/Page/P010104100001.aspx" name="特店延伸性新增一KEY作業" functionid="01041100" by="Search">
    </Page>
    <Page url="~/Page/P010104110001.aspx" name="特店延伸性新增二KEY作業" functionid="01041100" by="Search">
    </Page>
    <Page url="~/Page/P010303020001.aspx" name="經辦作業量統計(請款加批)" functionid="03030200" by="Search">
    </Page>
    <Page url="~/Page/P010210000001.aspx" name="自扣案件處理狀態查询" functionid="02100000" by="Search">
    </Page>
    <Page url="~/Page/P010101110001.aspx" name="自扣終止與推廣員異動作業" functionid="01011100" by="Search">
    </Page>
    <Page url="~/Page/P010214000001.aspx" name="郵局刪除作業" functionid="02140000" by="Search">
    </Page>

    <!--郵局核印 start-->
    <Page url="~/Page/P010311010001.aspx" name="郵局授權扣款資料清單" functionid="03110100" by="Search">
    </Page>
    <Page url="~/Page/P010311020001.aspx" name="R02授權成功/失敗報表" functionid="03110200" by="Search">
    </Page>
    <!--<Page url="~/Page/P010311030001.aspx" name="P02授權未回覆報表" functionid="03110300" by="Search">
    </Page>-->
    <Page url="~/Page/P010311040001.aspx" name="批次作業量統計報表" functionid="03110400" by="Search">
    </Page>
    <!--郵局核印 end-->
    
    <!--透過參數設定新增表單功能 start-->
    <Page url="~/Page/P010101120001.aspx" name="公用事業一KEY" functionid="01011200" by="Search">
    </Page>
    <Page url="~/Page/P010101130001.aspx" name="公用事業二KEY" functionid="01011300" by="Search">
    </Page>
    <!--透過參數設定新增表單功能 end-->
    
    <Page url="~/Page/P010213010001.aspx" name="問題件查詢" functionid="02130100" by="Search">
    </Page>
    <Page url="~/Page/P010213020001.aspx" name="主檔資料查詢1644" functionid="02130200" by="Search">
    </Page>
    <Page url="~/Page/P010213030001.aspx" name="歷史資料查詢1645" functionid="02130300" by="Search">
    </Page>

    <!--人工簽單 start-->
    <Page url="~/Page/P010106010001.aspx" name="收件(請款簽單總表)檔案匯入" functionid="01060100" by="Search">
    </Page>
    <Page url="~/Page/P010106020001.aspx" name="一般簽單一key" functionid="01060200" by="Search">
    </Page>
    <Page url="~/Page/P010106030001.aspx" name="一般簽單二key" functionid="01060300" by="Search">
    </Page>
    <Page url="~/Page/P010106040001.aspx" name="分期簽單一key" functionid="01060400" by="Search">
    </Page>
    <Page url="~/Page/P010106050001.aspx" name="分期簽單二key" functionid="01060500" by="Search">
    </Page>
    <Page url="~/Page/P010106060001.aspx" name="錯誤登錄" functionid="01060600" by="Search">
    </Page>
    <Page url="~/Page/P010107010001.aspx" name="請款簽單明細表" functionid="01070100" by="Search">
    </Page>
    <Page url="~/Page/P010107010002.aspx" name="請款簽單明細表_明細資料" functionid="01070100" by="Search">
    </Page>
    <Page url="~/Page/P010107020001.aspx" name="上傳檔案(一般及分期簽單)" functionid="01070200" by="Search">
    </Page>
    <Page url="~/Page/P010107030001.aspx" name="重覆件報表查詢" functionid="01070300" by="Search">
    </Page>
    <Page url="~/Page/P010310000001.aspx" name="人工簽單報表" functionid="03100000" by="Search">
    </Page>
    <!--人工簽單 end-->

    <!--特店AML資料 start -->
    <Page url="~/Page/P010105010001.aspx" name="特店AML資料新增/修改一次鍵檔" functionid="01050100" by="Search">
    </Page>
    <Page url="~/Page/P010105020001.aspx" name="特店AML資料新增/修改二次鍵檔" functionid="01050200" by="Search">
    </Page>
    <Page url="~/Page/P010105030001.aspx" name="尚未建立總公司報表" functionid="01050300" by="Search">
    </Page>
    <!--特店AML資料 end -->
    
    <!--餘額轉置 start -->
    <Page url="~/Page/P010212000001.aspx" name="餘額轉置查詢作業" functionid="02120000" by="Search">
    </Page>
    <Page url="~/Page/P010211000001.aspx" name="餘額轉置新增作業" functionid="02110000" by="Search">
    </Page>
    <!--餘額轉置 end -->

    <!--一卡通 start -->
    <Page url="~/Page/P010102140001.aspx" name="毀補轉一卡通/悠遊一KEY" functionid="01021400" by="Search">
    </Page>
    <Page url="~/Page/P010102150001.aspx" name="毀補轉一卡通/悠遊二KEY" functionid="01021500" by="Search">
    </Page>
    <!--一卡通 end -->

    <!--系統維護 start -->
    <Page url="~/Page/P010501000001.aspx" name="交換檔案設定" functionid="01050100" by="Search">
    </Page>
    <Page url="~/Page/P010502000001.aspx" name="自訂參數維護" functionid="05020000" by="Search">
    </Page>
    <!--系統維護 end -->

    <!--特店AML資料 審查案件處理 start -->
    <Page url="~/Page/P010801000001.aspx" name="特店AML資料 案件列表" functionid="01080100" by="Search">
    </Page>
    <Page url="~/Page/P010801010001.aspx" name="特店AML資料 案件明細(經辦)" functionid="01080101" by="Search">
    </Page>
    <Page url="~/Page/P010801020001.aspx" name="特店AML資料案件明細(主管)" functionid="01080102" by="Search">
    </Page>
    <Page url="~/Page/P010801030001.aspx" name="特店AML資料 總公司資料編輯" functionid="01080103" by="Search">
    </Page>
    <Page url="~/Page/P010801040001.aspx" name="特店AML資料 分公司資料編輯" functionid="01080104" by="Search">
    </Page>
    <!--20191218-RQ-2019-030155-002-->
    <Page url="~/Page/P010801040002.aspx" name="特店AML資料 分公司資料編輯(整批)" functionid="01080104" by="Search">
    </Page>
    <Page url="~/Page/P010801050001.aspx" name="特店AML資料 總公司SCDD編輯" functionid="01080105" by="Search">
    </Page>
    <Page url="~/Page/P010801060001.aspx" name="特店AML資料 SCDD編輯" functionid="01080106" by="Search">
    </Page>
    <Page url="~/Page/P010801070001.aspx" name="特店AML資料 ECDD編輯" functionid="01080107" by="Search">
    </Page>
    <Page url="~/Page/P010801080001.aspx" name="特店AML資料 SCDD瀏覽" functionid="01080108" by="Search">
    </Page>
    <Page url="~/Page/P010801090001.aspx" name="特店AML資料 ECDD瀏覽" functionid="01080109" by="Search">
    </Page>
    <Page url="~/Page/P010801100001.aspx" name="特店AML資料 連絡註記編輯" functionid="01080110" by="Search">
    </Page>
    <Page url="~/Page/P010801110001.aspx" name="特店AML資料 不合作註記編輯" functionid="01080111" by="Search">
    </Page>
    <Page url="~/Page/P010801120001.aspx" name="特店AML資料 自動派案比例設定" functionid="01080112" by="Search">
    </Page>
    <Page url="~/Page/P010801130001.aspx" name="特店AML資料 轉派案件設定" functionid="01080113" by="Search">
    </Page>
    <Page url="~/Page/P010801140001.aspx" name="特店AML資料  結案案件列表" functionid="01080114" by="Search">
    </Page>
    <Page url="~/Page/P010801140101.aspx" name="特店AML資料  結案案件明細" functionid="01080114" by="Search">
    </Page>
     <Page url="~/Page/P010801140201.aspx" name="特店AML資料  結案案件明細SCDD" functionid="01080114" by="Search">
    </Page>
    <!--20191104-->
    <Page url="~/Page/P010801010002.aspx" name="特店AML資料  不合作異常結案編輯" functionid="01080101" by="Search">
    </Page>
    <Page url="~/Page/P010801150001.aspx" name="自然人收單定審案件明細" functionid="01080115" by="Search">
    </Page>
    <Page url="~/Page/P010801160001.aspx" name="自然人收單定審主管審核" functionid="01080116" by="Search">
    </Page>
    <Page url="~/Page/P010801170001.aspx" name="自然人收單 結案案件明細" functionid="01080117" by="Search">
    </Page>
    <Page url="~/Page/P010801170101.aspx" name="自然人收單 結案案件明細 SCDD" functionid="01080117" by="Search">
    </Page>
    <!--特店AML資料 審查案件處理 end -->

    <!--自然人收單-->
    <Page url="~/Page/P010105040001.aspx" name="自然人收單新增/修改一KEY" functionid="01050400" by="Search">
    </Page>
    <Page url="~/Page/P010105050001.aspx" name="自然人收單新增/修改二KEY" functionid="01050500" by="Search">
    </Page>
    <Page url="~/Page/P010105060001.aspx" name="自然人別名報送資料維護" functionid="01050600" by="Search">
    </Page>
    <Page url="~/Page/P010109050001.aspx" name="自然人收單定審維護畫面" functionid="01090500" by="Search">
    </Page>
    <Page url="~/Page/P010109060001.aspx" name="自然人收單SCDD" functionid="01090600" by="Search">
    </Page>
    <Page url="~/Page/P010109600001.aspx" name="預覽與列印" functionid="01096000" by="Search">
    </Page>
    <!--自然人收單 end -->
  </Pages>
</Root>

